<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    {% if page.title %} {{ page.title }}
    {% else %} {{ site.title }}
    {% endif %}
  </title>
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width">

  <!-- that jQuery thing -->
  <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
        
  <!-- never leave the house without some bootstrap in your pocket -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>



  <!-- our weapon of choice Phaser HTML5 game engine -->
  <script type="text/javascript" src="{{ site.baseurl }}/js/phaser.2.7.0.js"></script>


</head>