<header class="site-header" role="banner">

  <div class="container">
    <div class="row">
      <div class="col-lg-3 ">
        <a class="site-title" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/unicorn.jpg" height="80"></a>
      </div>
      <div class="col-lg-6 ">
        <h3>Synergistic Unicorn Wranglers</h3>
        TEAM WORK MAKES THE DREAMWORK

      </div>
      <div class="col-lg-3 text-center">

        <nav class="site-nav">



          <a class="page-link" href="index.html">Home</a> | <a class="page-link" href="editor.html">Editor</a>

        </nav>

      </div>
    </div>
  </div>





</header>

<hr>